---
import Layout from "../layouts/default.astro"

import Navbar from "../components/Navbar.astro"
import Navigation from "../components/Navigation.astro"

import { Icon } from "astro-icon/components";
---

<Layout>
	<div data-pagefind-body class="mx-2 md:mx-6 flex flex-col items-center justify-center pt-20">
		<h1 class="text-3xl font-bold font-[Minecraft_Five]">🚧 Page Introuvable</h1> 
	</div>
</Layout>
