---
import Layout from "../layouts/default.astro"
import TitleCard from "../components/TitleCard.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
	<TitleCard url="/briques.png">
		<img class="h-30 w-auto" src="/title-color-demo.png" />
		<p></p>
	</TitleCard>
</Layout>