---
import Layout from "../layouts/default.astro"
import TitleCard from "../components/TitleCard.astro";
import { Icon } from "astro-icon/components";
---

<Layout>
	<TitleCard url="/purple.png">
		<img class="h-20 md:h-30 w-auto" src="/vaatigames.png" />
		<p></p>
	</TitleCard>
</Layout>