---
import { Icon } from "astro-icon/components";
---

<div class="fixed z-100 navbar bg-base-100 border-b-2 border-base-300">
  <div class="navbar-start">
    <label
      for="nav-drawer"
      class="lg:hidden btn btn-soft btn-primary px-1 drawer-button"
    >
      <Icon name="lucide:menu" class="h-10 w-10 px-2 fill-current" />
    </label>
    <img
      src="/logo-bg.png"
      alt="Logo DEMOCRAFT"
      class="h-7 w-7 mr-0.5 rounded"
    />
    <a
      href="/"
      class="hidden md:flex text-lg md:text-2xl ml-3 font-bold flex-inline items-center gap-2"
    >
      DEMOCRAFT
      <span class="badge badge-primary"
        >STUDIO<Icon name="lucide:sparkles" /></span
      >
    </a>
  </div>

  <a
    href="/"
    class="navbar-center flex md:hidden text-lg md:text-2xl ml-3 font-bold flex-inline items-center gap-2"
  >
    DEMOCRAFT
    <span class="badge badge-primary">
      STUDIO
      <Icon name="lucide:sparkles" />
    </span>
  </a>
  <div class="navbar-center hidden md:flex">
  <ul class="menu menu-horizontal px-1">
      <li><a href="/"><Icon name="lucide:home" /> Accueil</a></li>


      <li>
        <div class="dropdown dropdown-center dropdown-hover">
          <div tabindex="0" role="button" class="flex items-center gap-2">
            <Icon name="lucide:box" /> Projets
          </div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
              <li>
                <a href="/democraft" class="p-1 flex justify-center items-center">
                  <img class=""h-6 w-auto src="/title-flat-demo.png" alt="DEMOCRAFT" />
                </a>
              </li>
              <li>
                <a href="/vaatigames" class="p-1 flex justify-center items-center">
                  <img class="h-8 w-auto" src="/vaatigames.png" alt="DEMOCRAFT" />
                </a>
              </li>
              <li>
                <a href="/mondes" class="p-1 flex justify-center items-center">
                  <img class="h-8 w-auto" src="/soon.png" alt="DEMOCRAFT" />
                </a>
              </li>
          </ul>
        </div>
      </li>
      <li><a href="/compta"><Icon name="lucide:badge-dollar-sign" /> Compta.</a></li>
    </ul>
  </div>

  <div class="navbar-end">
    <label class="swap swap-rotate">
      <input type="checkbox" id="theme_switcher"/>
      <Icon
        name="lucide:sun"
        class="swap-on input input-bordered h-8 md:h-10 w-8 md:w-10 px-2 mx-2 fill-current"
      />
      <Icon
        name="lucide:moon"
        class="swap-off input input-bordered h-8 md:h-10 w-8 md:w-10 px-2 mx-2 fill-current"
      />
    </label>
  </div>
</div>

<script type="module" is:inline data-astro-rerun>
  
  if (localStorage.getItem("theme") === "dark") {
    document.getElementById("theme_switcher").checked = true;
  }

  document
    .getElementById("theme_switcher")
    ?.addEventListener("change", (e) => {
      const theme = e.target.checked ? "dark" : "light";
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("theme", theme);
    });
</script>
