---
import "../assets/app.css";
import Head from './head.astro';
const { frontmatter } = Astro.props;

import TitleCard from "../components/TitleCard.astro";
import Navbar from "../components/Navbar.astro"
import Navigation from "../components/Navigation.astro"
---

<html
  lang="fr"
  data-theme="demolight">
  <Head title={frontmatter.title} description={frontmatter.description} />
    <body class="bg-base-100">
      	<Navbar />
        <Navigation>
          <main class="pt-20 mx-2 md:mx-20">
            <TitleCard title={frontmatter.title} description={frontmatter.description} />
            <article class="prose prose-sm md:prose-base pt-16">
                <slot />
            </article>
          </main>
        </Navigation>   
  </body>
</html>